/*CARREGANDO FONTES DE TEXTO LOCAIS*/
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Light.ttf) format('truetype');
    font-weight: 300;

}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 500;

}


/*estilos da barra de navegação*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    margin-left: 5%;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin: 15px;
    
}

nav ul li a {
    color: rgb(173, 173, 173);
    text-decoration: none;
    font-size: 14px;
    padding: 15px 10px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}

nav ul li a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}

.botao-inscrever {
    background-color: #000000; 
    color: white; 
    border: none; 
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.botao-inscrever:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
}

body{
    margin-top: 10%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 10px auto;
}

fieldset {
    border: 1px solid #000000;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-family: 'Montserrat';
    font-weight: 900;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

button[type="submit"]{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

input[type="reset"] {
    background-color: #cecece;
    color: rgb(109, 109, 109);
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button[type="submit"]:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-color: #000000;
    padding: 8px 100px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

input[type="reset"]:hover {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}